[Unit]
Description=DanCam recording data
After=persist.mount
ConditionPathExists=/persist/dancam/storage-admitted

[Mount]
What=/dev/disk/by-label/{{ dancam_data_label }}
Where=/data
Type=ext4
Options=noatime,errors=remount-ro

[Install]
WantedBy=local-fs.target
